body{
    background-color: gray;
    color: ivory;
    font-style: italic;
    margin: 0;
    padding: 0;
  
}
#navbar{
display: flex;
width: 100%;
justify-content: space-between;
padding-right: 30px;
padding-left: 30px;
box-sizing: border-box;
border-bottom:  1px solid turquoise;
align-items: end;
}
#nav{
    display: flex;
justify-content: space-between;
align-items: end;
gap: 15px;
font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}
#navbar p{
    font-size: 20px;
}
h1{
text-align: center;
}

h3{
    text-align: center;
}
.student-lists{
    display: flex;
    flex-direction: row;
   box-shadow: 0px 2px 4px black;
   border-radius: 10px ;
   justify-content: space-evenly;
    width: 80%;
    align-items: center;

}
#student-list{
    gap: 10px ;
    display: flex;
    flex-direction: column;
  align-items: center;
}

.green-btn{
    background-color: rgb(0, 255, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.green-btn:hover{
    background-color: rgb(7, 117, 7)
}
.red-btn{
    background-color: rgb(255, 0, 0);
    color: white;
     border: none;
    border-radius: 5px;
    padding: 5px;
}
.red-btn:hover{
    background-color: rgb(121, 4, 4);
}

.btn-container{
    display: flex;
    flex-direction: column;
    gap: 5px;


}

.present{
    color: green;                           
}

.absent{
    color: red;
}

@media(max-width: 720px){
    .hide-mobile{
        display: none;
    }
}